doctype html
html
  head
    meta(charset='utf-8')
  body
    h1 
      a(href='/topics') Server Side Javascript
    ul
      each topic in topics
        li
          a(href='/topics/'+topic.id)= topic.title
    artcle
      h1= 'Delete? ' +topic.title
      form(action='/topics/'+topic.id+'/delete' method='post')
        p
          input(type='submit' value='YES')
      a(href='/topics'+topic.id) NO